<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="">
    <title>{% block title %}{% endblock %}</title>
</head>
<body>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias aliquid animi aperiam aut autem dolorum exercitationem facilis hic in laudantium molestias, mollitia perspiciatis recusandae, rerum totam unde velit voluptatem.</p>
</body>
</html>